body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #centerDiv {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  ul {
    margin-bottom: 30px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  